.container{
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    margin-left:50px;
    transform:translate(200px,300px);
    
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;

}
@keyframes bounce{
    0%{
        transform: translate(500px,400px);
        background-color: red;
    }
    50%{
        transform: translate(500px,0px);
        background-color: blue;
    }
    100%{
        transform: translate(500px,400px);
        background-color: black;
    }
}